@import "tailwindcss";
@import "@/assets/fonts.css";

.time {
  font-family: var(--bungee-font);
  @apply hover:scale-110 transition-all select-none;
}

.time,
.time-number {
  font-size: 5rem;
  @apply text-neutral-200;
}

.time,
.time-text {
  font-size: 2rem;
  @apply text-neutral-400;
}
